.cuadros{
    padding-top: 100px;
    padding-left: 50px;
}
.cuadro-de-informacion{
    border: solid rgb(0, 0, 0);
    box-shadow: -10px -15px 20px 5px rgba(0, 0, 0, 0.466);
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(248, 247, 253, 0.705);
}

.cuadro-de-informacion1{
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.507);
}

.cuadro-de-informacion1{
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.507);
}

.cuadro-de-informacion1{
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.507);
}

.datos{
    font-size: x-large;
    font-weight: bolder;
}

.letra{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
